/* Fig. 12.3: style.css */
/* CSS for dom.html. */


#showcase{
   min-height:400px;
   background:url('../img/scHome.jpg') no-repeat;
   text-align:center;
   color:#ffffff    
}

#showcase h1{
   margin-top:50px;
   font-size:55px;
   margin-bottom:10px
}

#showcase p{
  font-size:20px;
}


#body{
  border-style:solid;
  border-width:2px;
  border-color:#2e3d87;
  width: 500px;
  padding: 50px;
  margin: -20px 20px 20px 20px;
  background-color:#ffffff;
  float:left;
}

#donation{
   border-style:solid;
   border-width:2px;
   border-color:#2e3d87;
   width: 500px;
   padding: 50px;
   margin: -910px 20px 20px 20px;
   background-color:#ffffff;
   float:right;
}